body{
    margin: 0;overflow: hidden;
}

.drag-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.drag-element{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: red;
}
